header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 121px;
    width: 100%;
    transition: top 500ms ease-in-out;

    .container {
        max-width: 1745px;
    }

}

.header {
    display: flex;
    align-items: center;
    padding: 12px 0;

    &-burger {
        display: block;
    }

    &-logo {
        max-width: 211px;
        width: 100%;
        margin-right: auto;

        &__img {
            padding-top: 97px / 211px * 100%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }

    &-buy {
        display: none;

        &__desc {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 34px;
        }

        &__btn {}

        @media screen and (min-width: 1025px) {
            display: flex;
        }
    }
}