include ../../../views/helpers/mixins.pug
.container
  .header
    .header-logo
      .header-logo__img
        a(href="/" title="Главная")
          picture
            img(src="../img/common/logo-new.png", alt="Логотип", loading="eager", width="211" height="74")
    .header-buy
      .header-buy__desc
        span Также приобрести билеты<br> можно по телефону
        a(href="tel:+79197618606" title="Телефон") +7 (919) 761-86-06
      a(href="tickets.html" title="Купить билеты").header-buy__btn.btn Купить билеты
    .header-burger
      .burger
        +icons('#burger', 43, 'header-burger__open')
        +icons('#close', 43, 'header-burger__close')