include ../../../views/helpers/mixins.pug
.container
  .header
    .header-logo
      .header-logo__img
        img(src="../img/common/logo.png", alt="Логотип")
    .header-buy
    .header-burger
      +icons('#burger', '43')