include ../../../views/helpers/mixins.pug
.container
  .header
    .header-logo
      .header-logo__img
        a(href="/"): img(src="../img/common/logo.png", alt="Логотип")
    .header-buy
      .header-buy__desc
        span Также приобрести билеты<br> можно по телефону
        a(href="tel:+79197618606") +7 (919) 761-86-06
      a(href="tickets.html").header-buy__btn.btn Купить билеты
    .header-burger
      .burger
        +icons('#burger', 43, 'header-burger__open')
        +icons('#close', 43, 'header-burger__close')