.btn {
  display: flex;
  align-items: center;
  padding: 15px 35px;
  border-radius: 50px;
  background: $btn;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  user-select: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  flex-grow: 0;
}