extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/headers/headers.pug


block variables
	- const title = "Актеры"
block styles
	link(rel="stylesheet", href="styles/actors.css")
block critical
block content
	section.actors
		.container
			h1.section-h1 Актеры
			.actors-list
				.actors-list__item
					.image
						.image__wrp
							img(src="/img/actors/1.png", loading="eager", "Иван Ожогин")
					.description
						.description__name.section-h3 Иван Ожогин
						.description__role Дон Жуан
						.description__text
							p.description__text-preview.
								Актер, певец, продюсер. Исполнитель главных ролей в мюзиклах «Призрак Оперы» «Бал вампиров» (Санкт-Петербург, Берлин, Москва, Кёльн), «Джекилл и Хайд», «Мастер и Маргарита», «Демон Онегина», «Чикаго», «Кошки», «Свадьба соек», «Норд - Ост», «Красавица и чудовище», «Пола Негри», а также рок-оперы «КарамазоВЫ».
							p.description__text-full.hidden.
								В музыкально-драматических спектаклях «Чайка», «Прозрачные краски», «Хищники». Лауреат театральных премий «Золотая маска - 2013» и «Музыкальное сердце театра - 2012», Победитель Конкурса исполнителей русского романса «Гатчинская Романсиада - 2012»
							a(href="#" class="more")
								span.show Подробнее
								span.hide Скрыть
						ul.description__socials
							li: a(href="#"): +icons("#instagram-17", 21)
				.actors-list__item
					.image
						.image__wrp
							img(src="/img/actors/2.png", loading="eager", "Мария Геровгян")
					.description
						.description__name.section-h3 Мария Геровгян
						.description__role Консуэла
						.description__text
							p.description__text-preview.
								Актриса, оперная певица. Выпускница колледжа при Московской Государственной консерватории имени П. И. Чайковского, и Московского Государственного интститута музыки имени А. Г. Шнитке, где в 2015 году окончила также ассистентуру. Солистка Центра оперного пения Галины Вишневской. Лауреат международных и всероссийских конкурсов.
							p.description__text-full.hidden.
								Дипломант Международного фестиваля Vissi Darte (Прага), XII Международного фестиваля искусств имени А.Д. Сахарова, Международного фестиваля Мстислава Ростроповича, Международного фестиваля «Империя оперы». Исполнила партии в оперных постановках «Борис Годунов», «Евгений Онегин», «Кармен», «Руслан, и Людмила», «Война и мир». Артистка мюзикла «Призрак Оперы» , исполнительница главной роли (Кристин Даэ). Выступала в Teatro De La Maestranza (Севилья, Испания). Солистка Московского Дома Оперы, исполнительница главных ролей в иммерсивных постановках «Пиковая Дама», «Иоланта».
							a(href="#" class="more")
								span.show Подробнее
								span.hide Скрыть
						ul.description__socials
							li: a(href="#"): +icons("#instagram-17", 21)
				.actors-list__item
					.image
						.image__wrp
							img(src="/img/actors/3.png", loading="eager", "Нонна Гришаева")
					.description
						.description__name.section-h3 Нонна Гришаева
						.description__role Пилар
						.description__text
							p.description__text-preview.
								Заслуженная артистка России. С 2014 года - художественный руководитель МОГТЮЗа, где занята и в музыкальных постановках: «Леди Совершенство» Михаила Борисова, и в музыкальном спектакле «Питер Пэн» Алексея Франдетти. Играла Александру Споффорд в мюзикле «Иствикские ведьмы», участвовала в спектаклях Квартета И «День Радио» и «День Выборов», а в 2010 блистала в роли цыганки Инес в мюзикле «Зорро».
							p.description__text-full.hidden.
								 Нонна Гришаева исполняла главную роль Козетты в мюзикле «Моя зубастая няня» в постановке Лины Арифулиной и Джуди Гарленд в музыкальном спектакле «Джуди» в постановке Алексея Франдетти. В 2009 году Нонна Гришаева совместно с Марком Тишманом стала победительницей музыкального конкурса Первого канала «Две звезды», а в 2020 одержала победу в проекте «Три аккорда». Успешно снимается в кино и работает на телевидении (на её счету более 50 картин и сериалов). Играет на сцене театра Квартет И, театра «Русская песня» в мюзикле «12 стульев» в постановке Нины Чусовой, в музыкальных постановках театра Вахтангова - «Мадемуазель Нитуш», «Люся. Признание в любви» и «Соломенная шляпка». Также является худруком актёрского курса на факультете эстрады ГИТИСа.
							a(href="#" class="more")
								span.show Подробнее
								span.hide Скрыть
						ul.description__socials
							li: a(href="#"): +icons("#instagram-17", 21)
				.actors-list__item
					.image
						.image__wrp
							img(src="/img/actors/4.png", loading="eager", "Оскар Кучера")
					.description
						.description__name.section-h3 Оскар Кучера
						.description__role Пилар
						.description__text
							p.description__text-preview.
								Российский актёр, музыкант, теле- и радиоведущий. Окончил ГИТИС в 1996 году,  После этого работал в Театре Ермоловой. МХАТе, Театре киноактера, а так же на радио. В 2001 году попал на телевидение, став новым виджеем на канале Муз-Тв. В 2002 году получил премию «Овация».
							p.description__text-full.hidden.
								В 2003 – «Знак качества» в номинации «лучший ведущий развлекательной программы. Фильмография артиста насчитывает более 30 кинофильмов, а так же более 10 фильмов в качестве актера дубляжа. В роли солиста коллектива «КУЧЕРА» является автором слов и музыки (в том числе ко многим художественным фильмам и сериалам, таким как «Улицы разбитых фонарей», «След саламандры», «Парадокс» и др.)
							a(href="#" class="more")
								span.show Подробнее
								span.hide Скрыть
						ul.description__socials
							li: a(href="#"): +icons("#instagram-17", 21)
block scripts
	script(src="js/main.js")