extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/headers/headers.pug


block variables
	- const title = "Творческая команда"
block styles
	link(rel="stylesheet", href="styles/team.css")
block critical
block content
	section.team
		.container
			h1.section-h1 Творческая команда
			.team-list
				.team-list__item
					.image
						.image__wrp
							img(src="/img/team/1.png", loading="eager", "Сергей Сорокин")
					.description
						.description__name.section-h4 Сергей Сорокин
						.description__role Продюсер
						.description__text
							p.description__text-preview.
								Директор постановки, художественный руководитель и артист театрального сериала в иммерсивном формате «ДОМ 1907» и «Дом 1907|НАЧАЛО».
								<br>
								Окончил СПбГАТИ (ЛГИТМиК) по специальности «артист музыкального театра» (курс А.В.Петрова, 2008 г.). Артист мюзиклов компании «Stage Entertainment» «Бал вампиров» (2011-2019), «Призрак Оперы» (2014-2016), «Русалочка» (2012-2014), «Красавица и чудовище» (2008-2009).
							p.description__text-full.hidden.
								Исполнитель роли Сальвадора Дали в спектакле «Дали и Испанская королева из Казани» в Театре Луны, артист мюзикла «Чайка». Лауреат международных конкурсов, награжден орденом «Молодое дарование России «Чароитовая звезда» и дипломом за «Большой вклад в развитие Российского музыкального театра». Обладатель уникального 5-ти октавного диапазона. Занесен в Книгу рекордов России как «самый высокий голос России». Эксперт Всероссийского образовательного форума «Таврида» в направлении «Мюзикл» (2017).
							a(href="#" class="more")
								span.show Подробнее
								span.hide Скрыть
				.team-list__item
					.image
						.image__wrp
							img(src="/img/team/2.png", loading="eager", "Артем Каграманян")
					.description
						.description__name.section-h4 Артем Каграманян
						.description__role Режиссер
						.description__text
							p.description__text-preview.
								Режиссер театра и кино. В 2013 году создал независимое театральное содружество «Горизонт» и поставил на сцене Музея В.Высоцкого на Таганке спектакль «Гоген» по пьесе А.Ставицкого. В 2017 году приглашен в совместно российско- южнокорейский театральный проект, в рамках которого, совместно с южнокорейским режиссером Те Сик Кан, поставил мюзикл «Чайка» на сцене московского Театра Луны. Мюзикл «Чайка» получил премию «Прорыв Года – 2017» в номинации «Мюзикл года». 
							p.description__text-full.hidden.
								В 2019 году поставил и выпустил вторую часть театрального сериала в иммерсивном формате «Дом 1907|НАЧАЛО». Режиссер фильмов «Футбол слуцкого периода», «Последнее лето СССР», «Непридуманные истории». Работа режиссера отмечена призами национальной премии «Большая Цифра» (2012, 2013).
							a(href="#" class="more")
								span.show Подробнее
								span.hide Скрыть
				.team-list__item
					.image
						.image__wrp
							img(src="/img/team/3.png", loading="eager", "Андрей Пурчинский")
					.description
						.description__name.section-h4 Андрей Пурчинский
						.description__role Композитор
						.description__text
							p.description__text-preview.
								Композитор, аранжировщик, клавишник группы Atrik & Asti, один из основателей продюсерского центра BWSound (www.bwsound.ru). Учился у американского продюсера Scott Storch. Как композитор и аранжировщик работает с Ильёй Авербухом, Братьями Запашными, Королевским цирком Гии Эрадзе, Большим Московским цирком на пр. Вернадского.
							p.description__text-full.hidden.
								Автор более 20 шоу и спектаклей.
							a(href="#" class="more")
								span.show Подробнее
								span.hide Скрыть
				.team-list__item
					.image
						.image__wrp
							img(src="/img/team/4.png", loading="eager", "Борис Комаров")
					.description
						.description__name.section-h4 Борис Комаров
						.description__role Автор стихов песен
						.description__text
							p.description__text-preview.
								Драматург, сценарист, поэт, актёр. В 2012 году окончил РУТИ-ГИТИС по специальности актер драматического театра и кино. Мастер курса - Сергей Проханов. Актёр Московского театра Луны под руководством Сергея Проханова. В 2016 году окончил сценарный факультет Московской Школы Кино. Куратор курса - Александр Талал.
							p.description__text-full.hidden.
								Сценарии театральных проектов: Ледовые шоу Ильи Авербуха «Мама», «Малыш и Карлсон на льду», «Новые Бременские музыканты на льду» и «12 месяцев», а также спортивное шоу «Урбантино» (стихотворная адаптация по мотивам сказки А. К. Толстого «Приключения Буратино») Музыкальные спектакли для семейного просмотра «Московского театра детской сказки Натальи Солей»: «В забытой сказочной стране» (оригинальный стихотворный сценарий) и «Снежная королева. Приключения Кая и Герды» (стихотворная адаптация). Режиссёр - заслуженный артист России Владимир Майсурадзе. Комедия «Кухня на выезде». Театральный спин-офф ситкома «Кухня» с участием героев сериала. Театральное агентство «Лекур» Режиссёр - Иван Миневцев «Однажды в Италии...» Музыкально-драматический спектакль с участием вокалистов арт-проекта «Тенора XXI века» Автор второй части театрального сериала в иммерсивном формате «Дом 1907|НАЧАЛО».
							a(href="#" class="more")
								span.show Подробнее
								span.hide Скрыть
block scripts
	script(src="js/main.js")