extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/headers/headers.pug


block variables
	- const title = "Купить билеты"
	- const bodyClass = "tickets-page"
block styles
	link(rel="stylesheet", href="styles/tickets.css")
block critical
block content
	section.tickets
		.container
			h1.section-h1 Купить билеты
			.tickets-toggles
				.btn.btn-transparent.toggle.is-active Все города
				.btn.btn-transparent.toggle Санкт-Петербург
				.btn.btn-transparent.toggle Москва
			.tickets-cities
				.tickets-cities__item
					.image
						img(src="../img/tickets/1.jpg" loading="lazy" alt="")
					.badge
						.badge__image
							img(src="../img/tickets/logo.png" loading="lazy" alt="")
						.badge__restriction 16+
					.content
						.content__title.section-h4 Санкт-Петербург
						.content__date 20 января 19:00
						.content__buttons
							a.btn(href="#") КУПИТЬ БИЛЕТ
							a.btn.btn-transparent(href="#consist-1") СОСТАВ
							//.consist#consist-1
								a.consist__close(href="#close"): +icons('#close-grey', 28)
								.consist__list
									.consist__list-item
										.consist__list-image: img(src="../img/tickets/actor-1.png", alt="")
										.consist__list-text
											.name Иван Ожогин
											.role Дон Жуан
									.consist__list-item
										.consist__list-image: img(src="../img/tickets/actor-2.png", alt="")
										.consist__list-text
											.name Мария Геворгян
											.role Консуэла
									.consist__list-item
										.consist__list-image: img(src="../img/tickets/actor-3.png", alt="")
										.consist__list-text
											.name Нонна Гришаева
											.role Пилар
									.consist__list-item
										.consist__list-image: img(src="../img/tickets/actor-4.png", alt="")
										.consist__list-text
											.name Дмитрий Янковский
											.role Хозяин таверны
									.consist__list-item
										.consist__list-image: img(src="../img/tickets/actor-5.png", alt="")
										.consist__list-text
											.name Александр Казьмин
											.role Серхио
									.consist__list-item
										.consist__list-image: img(src="../img/tickets/actor-6.png", alt="")
										.consist__list-text
											.name Александр Рагулин
											.role Карлос
								.consist__desc.
									Организатор вправе внести изменения в состав актёров без предварительного уведомления
				.tickets-cities__item
					.image
						img(src="../img/tickets/2.jpg" loading="lazy" alt="")
					.badge
						.badge__image
							img(src="../img/tickets/logo.png" loading="lazy" alt="")
						.badge__restriction 16+
					.content
						.content__title.section-h4 Москва
						.content__date 23 января 23:00
						.content__buttons
							a.btn(href="#") КУПИТЬ БИЛЕТ
							a.btn.btn-transparent(href="#consist-2") СОСТАВ
				.tickets-cities__item
					.image
						img(src="../img/tickets/3.jpg" loading="lazy" alt="")
					.badge
						.badge__image
							img(src="../img/tickets/logo.png" loading="lazy" alt="")
						.badge__restriction 16+
					.content
						.content__title.section-h4 Есентуки
						.content__date 23 января 19:00
						.content__buttons
							a.btn(href="#") КУПИТЬ БИЛЕТ
							a.btn.btn-transparent(href="#consist-3") СОСТАВ
block scripts	
	script(src="js/main.js")
	//script(src="js/contacts.js")