@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

.team {
  padding: 32px 0 87px;

  .section-h1 {
    margin-bottom: 26px;

    @media screen and (min-width: 641px) {
      margin-bottom: 36px;
    }

    @media screen and (min-width: 1367px) {
      margin-bottom: 84px;
    }

  }

  &-list {
    &__item {
      margin-bottom: 68px;
      @media screen and (min-width: 641px) {
        display: flex;
        align-items: flex-start;

        .image {
          width: 342px / 833px * 100%;
          max-width: 342px;
        }

        .description {
          padding-left: 32px;
          width: 430px / 833px * 100%;
        }

      }

      @media screen and (min-width: 1001px) {
        .description {
          padding-left: 59px;
          width: 908px / 1245px * 100%;
        }

      }

      .image {
        margin: 0 auto;
        margin-bottom: 26px;        
        background: #1F2328;

        @media screen and (min-width: 481px){
          max-width: 342px;
        }

        &__wrp{
          margin: 0 auto;
          position: relative;
          padding-top: 465px / 335px * 100%;

          @media screen and (min-width: 1367px){
            padding-top: 465px / 342px * 100%;
          }

          img{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .description .more {
        color: #E22D2D;
        text-decoration: underline;
        margin: 0 5px;

        span.hide {
          display: none;
        }

        &.is-active {
          span.hide {
            display: inline;
          }

          span.show {
            display: none;
          }
        }
      }

      .description__name {
        margin-bottom: 12px;

      }

      .description__role {
        font-size: 16px;
        line-height: 19px;
        color: #727272;

        @media screen and (min-width: 1367px) {
          font-size: 18px;
          line-height: 22px;
        }

      }

      .description__text {
        margin: 12px 0;
        font-size: 14px;
        line-height: 189.5%;

        @media screen and (min-width: 1367px) {
          margin-top: 39px;
          font-size: 18px;
          line-height: 34px;
        }

        p {
          display: inline;
        }

        p.hidden {
          display: none;
        }

      }

      .description__socials {
        margin-top: 14px;
        display: flex;

        li a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 54px;
          width: 54px;
          border-radius: 50%;
          border: 1px solid #5B5B5B;
          transition: all 0.25s ease;
          &:hover{
            background: rgba(#5B5B5B, 0.3);
          }
        }
      }
    }
  }
}