.mobileMenu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 100%;
    background: #131416;
    transition: transform 0.5s ease;
    z-index: 2;
    padding: 121px 0 97px;

    &.opened {
        transform: translateX(0);
    }

    .container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    &-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        &__ul {
            margin: auto 0;
            display: flex;
            flex-direction: column;
        }

        &__ul li {
            font-size: 18px;
            line-height: 22px;
            margin: 15px 0;

            @media screen and (min-width: 641px) {
                margin: 25px 0;
                font-size: 24px;
                line-height: 29px / 24px * 100%;
            }

            @media screen and (min-width: 1367px) {
                font-size: 18px;
                line-height: 22px;
                margin: 15px 0;
            }
        }
    }

    &-footer {
        margin-top: auto;

        &__phone{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 161%;
            a{
                font-weight: 600;
            }

            @media screen and (min-width: 641px){
                font-size: 16px;
            }

            @media screen and (min-width: 769px){
                display: none;

            }
        }

        &__socials {
            display: flex;
            margin-bottom: 15px;

            li {
                margin-right: 13px;
            }
        }

        &__copyright p {
            margin: 0;
            font-size: 14px;
            line-height: 161%;
            color: #474747;
        }
    }


    @media screen and (min-width: 641px) {
        padding-bottom: 56px;
    }


    @media screen and (min-width: 1367px) {

        .container {
            padding: 0 0px 0 96px;
        }

    }
}

@media screen and (min-width: 1367px) {
    .mobileMenu {
        background: none;        
        transform: none;
        max-width: 363px;
    }
}